.App {
  /* text-align: center; */
  background-color: rgb(231, 241, 244);
}

.header {
  text-align: left;
  background-color: #1b226b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: #f2f1f2;
}

.images {
  max-width: 200px; 
  border-radius: 8px;
  box-shadow: 10px 10px 5px #41505a;
  
}

.single-article-image {
  max-width: 200px; 
  border-radius: 6px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (min-width: 200px) {
  .articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }
  .each-article {
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #c6deee;
    padding: 1.5rem;
    border-radius: 15px;
    list-style-type: none;
  }
}

@media only screen and (min-width: 200px) {
  .comments-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    list-style-type:none
  }
  .each-comment {
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #c6deee;
    padding: 1.5rem;
    border-radius: 15px;
    list-style-type: none;
  }
}


/* .each-comment {
  list-style-type: none;
  text-align: left;
} */
/* .link {
    text-decoration: none;
} */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.article-body {
  padding-left: 3rem;
  text-align: left;
  max-width: 50rem;
}



.article-title {
  width: 200px;
  list-style-type: none;


}



.comment-image {
  /* display: inline-block; */
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  text-align: left;
}

.comment-author {
  color: blue;

}

.comment-body {
  margin-right: 2rem;
  width: 50rem;
  display: flex;
    flex-wrap: wrap;
}

.single-article-author-date {
  margin-left: 3rem;
}

.add-comment-button {
  padding: 5px 20px;
  background-color: #333a82;
  color: aliceblue;

}

.comment-adder-section {
  margin-left: 3rem;
}

.nav {
  margin-left: 3rem;
}

.home-page-header {
  margin-left: 3rem;
}